* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #f1f5f9;
}

.dashboard {
  display: flex;
}

/* Sidebar */
.sidebar {
  width: 230px;
  background: #0f172a;
  color: white;
  height: 100vh;
  padding: 20px;
}

.sidebar h2 {
  margin-bottom: 30px;
}

.sidebar ul {
  list-style: none;
}

.sidebar li {
  padding: 12px;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 6px;
}

.sidebar li:hover,
.sidebar .active {
  background: #2563eb;
}

.logout {
  background: #dc2626;
}

/* Main */
.main {
  flex: 1;
  padding: 20px;
}

/* Topbar */
.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Cards */
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin: 25px 0;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 8px 15px rgba(0,0,0,0.1);
}

.card h2 {
  margin-top: 10px;
}

/* Table */
.table-section {
  background: white;
  padding: 20px;
  border-radius: 10px;
}

table {
  width: 100%;
  margin-top: 15px;
  border-collapse: collapse;
}

th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #e5e7eb;
}

.active-status {
  color: green;
  font-weight: bold;
}

.pending-status {
  color: orange;
  font-weight: bold;
}
.charts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  margin-bottom: 25px;
}

.chart-card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 8px 15px rgba(0,0,0,0.1);
}

