.pipeline {
  display: flex;
  gap: 15px;
  padding: 20px;
  overflow-x: auto;
}

.column {
  min-width: 220px;
  background: #0d0d0d;
  padding: 10px;
  border-radius: 10px;
}

.column h3 {
  text-align: center;
  color: #38bdf8;
  margin-bottom: 10px;
}

.card {
  background: #ebecee;
  border: 1px solid #1e293b;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
  color: #e5e7eb;
  cursor: pointer;
  transition: 0.2s;
}

.card:hover {
  transform: scale(1.03);
  border-color: #38bdf8;
}

.card span {
  font-size: 12px;
  color: #94a3b8;
}